.root {
  width: 100%;
  /* Let the parent control the width */
}

  
  .orderSummary {
    border: 1px solid var(--standard-gold);
    background-color: var(--standard-white);
    padding: 24px 24px 32px;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.04);
  }
  
  .title {
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    text-transform: uppercase;
    margin-bottom: 16px;
    display: block;
  }
  
  .calculationContainer {
    padding-top: 20px;
    border-top: 1px solid var(--bg-light-gray);
    margin-top: 16px;
  }
  
  .labelContainer {
    display: flex;
    justify-content: space-between;
    margin-bottom: 16px;
  }
  
  .labelContainer span {
    font-size: 14px;
    font-weight: 500;
    color: var(--standard-black);
  }
  
  .couponContainer {
    padding-top: 24px;
    border-top: 1px solid var(--bg-light-gray);
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin-bottom: 24px;
  }
  
  .couponContainer > span {
    font-weight: 500;
    font-size: 14px;
  }
  
  .totalContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid var(--bg-light-gray);
    padding-top: 20px;
    margin-top: 24px;
  }
  
  .totalContainer span:first-child {
    font-size: 16px;
    font-weight: 600;
  }
  
  .totalContainer span:nth-child(2) span {
    font-size: 22px;
    font-weight: 600;
    color: var(--standard-black);
  }
  
  .actionContainer {
    margin-top: 32px;
  }
  
  .linkContainer {
    margin-top: 16px;
    text-align: center;
    cursor: pointer;
  }
  
  .linkContainer a {
    font-weight: 500;
    font-size: 14px;
    text-transform: uppercase;
    color: var(--standard-black);
    border-bottom: 1px solid var(--standard-black);
    transition: all 0.3s ease;
  }
  
  .linkContainer a:hover {
    color: var(--standard-gold);
    border-color: var(--standard-gold);
  }
  